* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Comic Neue', cursive;
    font-size: 100%;
    color: black;
}

.navbar button.navbar-toggler {
    border: 2px solid black !important;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0 3% 5px 0;
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


#header-nav {
    background-color: gray;
    border-radius: 0;
    border: 2px solid black;
    margin-bottom: 20px;
    padding: 10px 0px 10px 0px;
}

.container-fluid {
    padding: 0;
}

.navbar-brand a{
    text-decoration: none;
}

.navbar-brand h2 {
    line-height: .75;
    margin-left: 15px;
    font-size: 1.5em;
    font-weight: bold;
    line-height: .85;
    padding-top: 3px;
    padding-left: 40px;
}

#nav-list li a {
    color:#000;
    font-weight: 600;
    line-height: 8px;
    background-color: white;
    border: 1px solid black;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

#header-title{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 2.2em;
}

div>article {
    padding: 0 20px 20px;
    background-color: gray ;
    border: 0;
}

article>p {
    text-align: justify;
    font-size: 0.95em;
}

article h2{
    font-size: 1.5em;
    font-weight: bold;
}

@media (max-width:767px) {
    .navbar-brand h2 {
        padding-left: 15px;
    }
}