* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Comic Neue', cursive;
    font-size: 100%;
    color: black;
}

.container.fluid{
    width: 100%;
    padding: 0;
    margin:0;
}

.navbar button.navbar-toggler {
    border: 2px solid black !important;
    background-color: gray;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    padding: 0;
    
}


.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-toggler-icon:active, .navbar .navbar-toggler-icon:hover, .navbar .navbar-toggler-icon:focus {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.navbar button.navbar-toggler:hover,.navbar button.navbar-toggler:focus{
    border: 2px solid rgb(255, 255, 255) !important;
    background-color: rgb(163, 162, 162);
    box-shadow: 0;
    transition: width 2s, height 4s;
    
}



#header-nav {
    background-color: gray;
    border-radius: 0;
    border: 2px solid black;
    padding-bottom:0;
    margin-bottom: 20px;

}

.navbar-brand {
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom:10px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand a{
    text-decoration: none;
}

.navbar-brand h2 {
    line-height: .75;
    margin-top:0;
    margin-bottom:0;
    margin-left: 15px;
    font-size: 1.5em;
    font-weight: bold;
    line-height: .85;
}



#nav-list .nav-item a {
    color:#000;
    font-weight: 600;
    font-size: 1.2em;
    padding: 15px;
    line-height: 8px;
    background-color: white;
    border: 1px solid black;
}



#header-title{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 2.2em;
}

div>article {
    padding: 0 10px 10px;
    background-color: gray ;
    width: 100%;
    margin-left: auto;
    margin-right:auto;
    border: 0;
}

article>p {
    text-align: justify;
    font-size: 0.95em;
}

article h2{
    font-size: 1.5em;
    font-weight: bold;
}

@media (max-width:767px){

    div>article{
        width: 85%;
    }
    
}